@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;

    --default-text: #4c5169;
    --green-text: #65e3e7;
    --pink-text: #a24b6f;
    --blue-text: #778fde;
    --orange: #fb9e5f;
    --hover-orange: #e27d39;

    --gray: #bfbfbf;
    --hover-gray: #a3a3a3;
    --hover-green: #3dc6cb;
    --hover-blue: #677ec8;
}

:root.dark {
    --background: #272626;
    --foreground: #ededed;

    --default-text: #d9d9d9;
    --green-text: #158067;
    --pink-text: #ed8099;
    --blue-text: #2e5d7c;
    --orange: #e27d39;
    --hover-orange: #eb9257;

    --gray: #7c7979;
    --hover-gray: #9c9898;
    --hover-blue: #57768b;
    --hover-green: #5a8f83;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

input[type='radio'] {
    accent-color: theme('colors.green.500');
}

button {
    cursor: pointer;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-default-500: var(--default-text);
    --color-green-500: var(--green-text);
    --color-pink-500: var(--pink-text);
    --color-orange-500: var(--orange);

    --color-blue-500: var(--blue-text);
    --color-head-500: var(--header-text);
    --color-gray-500: var(--gray);
    --color-hover-gray-500: var(--hover-gray);
    --color-hover-blue: var(--hover-blue);
    --color-hover-green: var(--hover-green);
    --color-hover-orange: var(--hover-orange);

    --spacing-xs: 0.25rem;
    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 4rem;

    --animate-openPageMenu-mobile: openPageMenuMobile 0.3s ease-in alternate;
    --animate-closePageMenu-mobile: closePageMenuMobile 0.3s ease-in alternate;

    @keyframes openPageMenuMobile {
        0% {
            left: -150;
        }
        100% {
            left: 0;
        }
    }

    @keyframes closePageMenuMobile {
        0% {
            left: 0;
        }
        100% {
            left: -150;
        }
    }
}

@layer base {
    h1 {
        @apply text-[2rem] max-md:text-[1.75rem] font-bold mt-(--spacing-m) mb-(--spacing-m) text-default-500;
    }

    h2 {
        @apply text-[1.75rem] max-md:text-[1.5rem] font-bold mt-(--spacing-s) mb-(--spacing-s) text-default-500;
    }

    h3 {
        @apply text-[1.5rem] max-md:text-[1.25rem] font-bold mt-(--spacing-s) mb-(--spacing-s) text-default-500;
    }
}

@layer components {
    .tiny-text {
        @apply text-[0.75rem] max-md:text-[0.5rem] text-default-500;
    }
    .small-text {
        @apply text-[1rem] max-md:text-[0.75rem] text-default-500;
    }

    .default-text {
        @apply text-[1.25rem] max-md:text-[1rem] text-default-500;
    }

    .large-text {
        @apply text-[1.5rem] max-md:text-[1.25rem] text-default-500;
    }

    .card {
        @apply rounded-md border-3 border-default-500;
    }

    .button {
        @apply cursor-pointer p-(--spacing-s) rounded-md border-3 border-default-500 text-[1rem] max-md:text-[0.75rem] text-default-500 font-semibold;
    }
}

@utility pixelate {
    image-rendering: pixelated;
}
